.layer-features-table {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background: #fafafa;
  overflow-x: auto;
  font-family: sans-serif;
}

.table-controls {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

button {
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

  button:hover {
    background: #125ea8;
  }

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}
th{
    color:cornflowerblue
}
th,
td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: left;
}

input {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
}
