html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.layer-header {
  /*font-family: 'Inter', sans-serif;
   font-weight: 100;
  */
}

.row, .col-md-9, .col-md-3 {
  height: 100%;
}
/* например, styles.css или в твой sidebar.scss */
@media (min-width: 768px) {
  #layerSidebar {
    width: 300px; /* фиксируем ширину */
    background-color: #43525E !important; /* задаем фон */
  }
}

.toolbar {
  background-color: #43525E
}

.map-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
}

.sidebar {
  height: 100%;
}
.layer-header {
  background-color: #1F2D33;
}

.charts {
  height: 100%;
}
@media (min-width: 1200px) {
  .charts {
    width: 16%;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .charts {
    width: 30%; 
  }
}

@media (max-width: 767px) {
  .charts {
    width: 50%; 
  }
}

.table-container {
  height: auto;
}

.light-btn {
  background-color: #d9d9d9;
  aspect-ratio:1/1;
  width:28%;
}

.add-btn {
  background-color:#add2e6;
  color:#314956;
}

.img-veg {
  max-height: 100%;
  max-width: 100%;
}
