.container {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

input {
  display: block;
  margin: 10px auto;
}

button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

img {
  margin-top: 10%;
}
.form-container {
  background-color: #EEEEEE;
}
label {
  color: black;
}
